.header {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  order: -1;
}

.header__logo a img {
  width: 150px;
  display: block;
  object-fit: cover;
  margin-left: -25px;
}

.header__navmenu {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 70px;
}

.header__navmenu .toggle-menu {
  display: none;
}

.header__navmenu ul {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  gap: 1rem;
  height: inherit;
}

.header__navmenu ul li {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__navmenu ul li a {
  font-family: "poppinsmedium", sans-serif;
  color: black;
  padding: 2rem;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-size: 1.6rem;
}

.container-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  width: max-content;
  height: inherit;
  height: 60px;
}

@media (max-width: 960px) {
  #menu {
    display: none;
  }
  .header__navmenu .toggle-menu {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    order: 2;
  }

  .header__navmenu .toggle-menu.open span {
    border-top-color: transparent;
  }

  .header__navmenu .toggle-menu.open span::after {
    transform: rotate(135deg);
    position: relative;
    top: -8px;
  }

  .header__navmenu .toggle-menu.open span::before {
    transform: rotate(-135deg);
  }

  .header__navmenu .toggle-menu span {
    display: block;
    width: 20px;
    height: 2px;
    border-top: 2px solid black;
    position: relative;
    top: -8px;
    transition: 200ms;
  }

  .header__navmenu .toggle-menu span::after,
  .header__navmenu .toggle-menu span::before {
    content: "";
    width: 20px;
    height: 2px;
    display: block;
    background-color: black;
    margin-top: 6px;
    transition: 200ms;
  }

  .container-cart {
    display: flex;
    order: -1;
    flex: 1 1 80%;
    justify-content: flex-end;
  }

  .container.header-container {
    justify-content: space-between;
    gap: 12px;
  }
}

@media (max-width: 500px) {
  .container-cart {
    display: none;
  }
}
