.link-categories {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(1.2rem, 1rem + 1vw, 1.8rem);
  font-family: "poppinsregular", sans-serif;
  height: 40px;
  padding: 0 2rem;
  transition: 250ms;
  border-radius: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.link-categories:hover,
.link-categories.ativo {
  background-color: var(--color-primary);
  cursor: pointer;
}
